* {
  margin: 0;
  padding: 0;
}

.heder {
  background-color: rgb(98, 98, 190);

  position: fixed;
  width: 130px;
  height: 700px;

  text-align: center;

  font-weight: bolder;
  color: black;

  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.nav-Item {
  position: relative;

  line-height: 1.9em;
  display: flex;
  border-bottom: 1px solid black;
}

i:nth-last-child(1) {
  padding-top: 30px;
  width: 80px;
  display: flex;
  display: block;
}

.nav-link {
  padding-left: 25px;
  color: aliceblue;
  text-decoration: none;
  padding-bottom: 25px;
}

.nav-link:hover {
  color: brown;
}

body{
  font-family: Arial;
}

/* ------------------------- page container 1 ------------------------*/

.conainer {
  float: right;
  position: relative;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.322);
  color: white;

  margin: 80px;
  text-align: center;

  width: 150px;
}

.con1-li {
  position: absolute;
  bottom: 600px;
  color: bisque;
  background-color: rgba(0, 0, 0, 0.521);
  margin-left: 80px;
  bottom: 800px;
  padding-right: 30px;
  padding-left: 50px;

}
/* ----------------------page container 2------------------------- */

.container-2{
  margin-bottom: 900px;
}

.container-2 .contant-img2{
  
  float: right;
}


.text-h1{
  padding-left: 250px;
  
}

.text-p1{

  padding-left: 280px;

 text-size-adjust: 30px;
 line-height:25px;
 
 
}

.text-p1 p{


 
  border-left: 5px solid rgba(18, 144, 228, 0.788)
 
}





